* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: #ebebeb;
}

.header {
    background-color: #FFF159;
    padding: 12px 0;
}

.header-content {
    max-width: 510px;
    margin: 0 auto;
}

.search-form {
    display: flex;
}

.search-input {
    flex-grow: 1;
    margin-right: 14px;
}

.search-btn {
    padding: 12px 35px;
}

.container {
    max-width: 510px;
    margin: 0 auto;
    overflow: auto;
}

.results-text {
    font-weight: 700;
    font-size: 20px;
}

.results-item{
    border: solid 1px;
    border-radius: 4px;
    display: flex;
    padding: 13px 15px;
    margin-bottom: 10px;
}
.results-item:hover{
    background-color:rgb(31, 96, 114);
}

.results-item-img{
    width: 128px;  
    height: 119px;
    border-radius: 5px;
}

.result-item-content{
    flex-grow: 1;
    padding: 0 13px;
}
.result-item-price{
    font-weight: bold;
    font-size: 28px;
    color: #5791A4;
}
.results-item-title{
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.results-item-sell-count{
    margin-top: 40px;
    margin-bottom: 0;
}

